{% extends "base.html" %}
{% load static %}

{% block meta_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock meta_tags %}

{% block title %} E-Schools {% endblock title %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700,900" rel="stylesheet">
    <link href="{% static 'app/css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/slick.css' %}">
{% endblock stylesheets %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'app/js/slick.js' %}"></script>
    <script src="{% static 'app/js/main.js' %}"></script>
{% endblock javascript %}

{% block header %}
{% load mptt_tags %}
    <header>
        <div class="container">
            <div class="flex-between">
                <div class="logo">
                    <a href="index.html"><img src="{% static 'app/image/e-schools.png' %}" alt=""></a>
                </div>
                <div>
                    <div class="header-top">
                        <div class="row">
                            <p>(044) 333-24-44</p>
                            <p>(055) 310-14-24</p>
                            <div class="call-me js-button-call"><img src="{% static 'app/image/smartphone.svg' %}" alt="">
                                <p><span>Передзвоніть мені</span></p>
                            </div>

                            <div class="come-or-check row">
                                <div class="come-in js-button-come">
                                    <img src="{% static 'app/image/come-in.svg' %}" alt="">Вхід
                                </div>
                                / <div class="check-in js-button-registration">Реєстрація</div>
                            </div>
                        </div>
                    </div>
                    <nav class="">
                        <ul class="flex-between">
                            <li><a href="">Доставка и оплата</a></li>
                            <li><a href="product.html">Товары</a></li>
                            <li><a href="">Для пользователей E-schools</a></li>
                            <li><a href="">Помощь</a></li>
                            <li><a href="contact.html">Контакты</a></li>
                            <li><a href="about-us.html">О нас</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="flex-between">
                <div class="drop-menu static">
                    <button class="button-menu"><img src="" alt="">Услуги и товары</button>

                    <ul>
                        {% recursetree category_tree %}
                        <li> {{ node.name }}
                            <div class="menu-block white">
                                <div class="row">
                                    <div class="menu-block-left">
                                        <div class="row">
                                            {% if not node.is_leaf_node %}
                                            <div class="box flex-colomn">
                                                <h4>{{children}}</h4>
                                                {% if not children.is_leaf_node %}
                                                <a href="#"></a>
                                                <a href="">FORMA</a>
                                                <a href="">Bastion</a>
                                                <a href="">Galaxy</a>
                                                <a href="">Twix</a>
                                                {% endif %}
                                            </div>
                                            {% endif %}
                                            <div class="box">
                                                <h4>Компьютерная техника
                                                </h4>
                                                <a href="#">Ноутбуки и планшеты</a>
                                                <a href="">Компьютеры и комплектующие</a>
                                                <a href="">Мониторы</a>
                                                <a href="">Переферия</a>
                                                <a href="">Сетевое оборудование</a>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="box flex-colomn">
                                                <h4>Видеонаблюдение</h4>
                                                <a href="#">1C Video Lite Camera</a>
                                                <a href="">
                                                    Yi Home Camera</a>
                                                <a href="">
                                                    CoVi Security</a>
                                                <a href="">DaHua KIT </a>
                                                <a href="">Tecsar MEGA</a>
                                                <a href="">Security Time</a>
                                                <a href="">West Digital</a>
                                            </div>
                                            <div class="box">
                                                <h4>Оргтехника</h4>
                                                <a href="#">Принтеры</a>
                                                <a href="">Сканеры</a>
                                                <a href="">Расходные материалы</a>
                                                <a href="">МФУ</a>
                                                <a href="">Кабели для принтеров</a>
                                                <a href="">К Кабели для сканеров</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-block-right">
                                        <img src="{% static 'app/image/ekran.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endrecursetree %}
                    </ul>
                </div>
                <div class="header-right-block">
                    <div class="search">
                        <div class="row">
                            <div class="block-input-search row"><input type="text">
                                <button><img src="{% static 'app/image/magnifying-glass%20(1).svg' %}" alt=""></button></div>
                            <div class="basket-block js-button-basket">
                                <img src="{% static 'app/image/shopping-basket-button.svg' %}" alt="">
                                <span>1</span>
                            </div>
                        </div>
                    </div>
                    <div class="header-slider">
                        <img src="{% static 'app/image/projectSlider.jpg' %}" alt="non">
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock header %}