<!DOCTYPE html>
<html lang="en">


<head>
    {% block meta_tags %}
    <meta charset="UTF-8">
    {% endblock meta_tags %}
    <title>
        {% block title %}{% endblock title %}
    </title>
    {% block stylesheets %}{% endblock stylesheets %}

    {% block javascript %}{% endblock javascript %}

    {% block extra_head %}{% endblock %}
</head>
<body>
{% block body %}

    {% block header %} {% endblock header %}

    {% block content %} {% endblock content %}

    {% block popup %}  {% endblock popup %}

    {% block footer %} {% endblock footer %}

{% endblock body %}
</body>
</html>