{% extends "shop/index.html" %}
{% load static %}

{% block title %} {{object.name}} {% endblock title %}

{% block content %}

<section class="product">
    <div class="container">
        <div class="product-main white row">
            <div class="product-main-left">
                {% for image in object.images.all %}
                {% if image.image %}
                <img src="{{image.image.url}}" alt="">
                {% endif %}
                {% if image.image_per_url %}
                <img src="{{image.image_per_url}}" alt="">
                {% endif %}
                {%endfor%}
            </div>
            <div class="product-main-center">
                <img src="{{object.images.first.image.url}}" alt="">
            </div>
            <div class="product-main-right">
                <h3>{{object.name}}</h3>
                <div class="code row">
                    <p>{{object.product_code}}</p>
                </div>
                <div class="credit row">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
                <h5>{{object.price}} грн</h5>
                <div class="price row">
                    <h4>{{object.price_with_discount}} грн</h4>
                    <p class="">Скидка <span><br>
                            {{object.get_discount_rate}} грн.</span></p>
                    <img src="image/%D0%92%D0%B8%D1%88%D0%BB%D0%B8%D1%81%D1%82.svg" alt="">
                </div>
                <a href=""> <button class="button-buy">Купить</button></a>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <div class="description-main white row">
            <div class="product-characteristic">
                <h4>Характеристики товару</h4>
                {% regroup object.characteristics.all by characteristic_type as characteristic_type_list %}
                {% for characteristic_type in characteristic_type_list %}
                <div class="box-characteristic">
                    <p><span>{{characteristic_type.grouper}}</span></p>
                    {% for characteristic in characteristic_type.list %}
                    <p class="flex-between">{{characteristic.name}} <span>{{characteristic.value}}</span></p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="product-options">
                <h4>Опис товару</h4>
                <p>{{object.description}}</p>

            </div>
        </div>
    </div>
</section>
{% endblock content %}